

/*Call Fonts*/
@font-face{
    font-family:"Agatha";
    src:url("../fonts/Agatha.ttf");
}

/* public */
img{
    width:100%;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
text-decoration: none;
color:black;
}
a:hover{
    color:black;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     position: relative;
    overflow-x: hidden;
    color:#121212;
}
.headerImg{
    background-image: url("../images/headet.png");
    height:780px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-top:200px;
}
.logo{
    width:100px;
    margin:auto
}
.LogoContainer{
    text-align: center;
}
.LogoContainer h1{
    font-family:"Agatha";
    font-size:5.625em;
    color:white;
    margin-top:30px;
}

/*******Header ****************/
header{
    box-shadow: 0 3px 16px #00000029;
    z-index: 66666666666;
    position: relative;
}
/********Navbar**********/
.navbar-brand{ 
     font-size: 40px;;
     font-family:"Agatha";
     color:#121212;
}
.navbar-brand span{
    color:#DC5B81;
}
.navbar{
    width:100%;
    padding-left:0;
}
.nav-item{
    padding-left:25px;
    padding-right:25px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: 'Poppins', sans-serif;
        font-size:1.250em;
    color:#121212;
    position: relative;
padding:0
}

.navbar-expand-lg .navbar-nav .nav-link.active{
    color:#DC5B81;
}

button.navbar-toggler {
    position: relative;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    opacity: 1;
    border:1px solid #DC5B81;
    text-align: center;
    width:50px;
    

}
button.navbar-toggler i {
    background-color: #DC5B81;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    animation: nav2 0.8s backwards;
    animation-direction: reverse;
    margin-bottom:5px;
}
button.navbar-toggler i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: nav1 0.8s backwards;
    animation: nav1 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;}
.mobileMenu i:nth-child(3) {
        -webkit-animation: nav3 0.8s backwards;
        animation: nav3 0.8s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }
.scrollNav {
        top: 0 !important;
        z-index: 99999999999999999999999;
        animation-duration: .5s;
        background:white;
        position: fixed !important;
        box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
        transition: 1s all;
        left: 0;
        width:100%;
        right:0;
        padding:5px 0;
        transition: all .5s;;
        animation:sticky;
    }
    /*--------------- Section ----------*/
    section {
        padding-top:90px;
        padding-bottom:100px;
    }
.sectionTitle{
    margin-bottom: 70px;

}
    .sectionTitle h3{
        color:#DC5B81;
        font-size: 2.250em;
        display: inline-block;
    }
    .titleImg{
        width:290px;
    }

/****************Animation of mobile Toggler****************/
@-webkit-keyframes nav1 {
    50% {
      -webkit-transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(45deg); } }
  @keyframes nav1 {
    50% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(45deg); } }

  @-webkit-keyframes nav2 {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg); }
    50% {
      -webkit-transform: translateY(9px) rotate(0deg); }
    100% {
      -webkit-transform: translateY(9px) rotate(135deg); } }
  @keyframes nav2 {
    0% {
      transform: translateY(0px) rotate(0deg); }
    50% {
      transform: translateY(9px) rotate(0deg); }
    100% {
      transform: translateY(9px) rotate(135deg); } }
  @-webkit-keyframes nav3 {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg); }
    50% {
      -webkit-transform: translateY(-9px) rotate(0deg); }
    100% {
      -webkit-transform: translateY(-9px) rotate(135deg); } }
  @keyframes nav3{
    0% {
      transform: translateY(0px) rotate(0deg); }
    50% {
      transform: translateY(-9px) rotate(0deg); }
    100% {
      transform: translateY(-9px) rotate(135deg); } 
    }
/*********End Mobile Toggler Animation********/

/*----------- Our  Love Story---------*/
#OurLoveStory,#Venue{
    background-image: url("../images/bodybg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.titleImg{
    width:100%;
}
.OurLoveStorySection h4{
  font-size:1.875em;
}
.OurLoveStorySection span{
    margin-bottom: 24px;
    color:#DC5B81;
    display: block;
}
.loveImg{
    border:10px solid #DC5B81
}
.OurLoveStorySection p{
    font-size: 1.375em;
    margin-top:24px;
}
.marginTop{
    margin-top:65px;
}
.verticalLine{
    position: absolute;
    border-left:1px dashed #DC5B81;
    left:50%;
    top:0;
    height: 100%;
}
/*---------------- .Bridal sction ---------------*/
.BridalImg{
    width:100%;
    border-radius: 50%;
    overflow: hidden;
}
.BridalImg:hover img{
    transform: scale(1.1);
    transition: all .5s;
}
.BridalImg:hover{
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}
.BridalImg img{
    transition: all .5s;
}

.BridalPartyItem h6{
    font-size:1.250em;
    margin-top:24px;
    margin-bottom:5px;
}
.BridalPartyItem span{
    color:#DC5B81;
    font-family:"Agatha";
    font-size:2.250em;

}
.carImg{
    width:200px;
    margin:auto;
    margin-top:50px; 
}
.EventsDesc{
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.eventborder{
    width:100%;
    position: absolute;
    top:0;
    left:0;
}
.EventsDesc h4{
    font-size:1.853em;
    color:#DC5B81;
    margin:0;

}
.EventsDesc span{
    font-size:1.085em;
}
.EventsDesc p{
    font-size:1.085em;
    margin-top:15px;
}
.EventDescCont
{
    margin-top: 104px;
    margin-left: 44px;
}
.marginTopEvent{
    margin-top:80px;
}
/*---------------- Venue sction ---------------*/
.VenueDesc span{
    display: block;
    font-size:1.150em;
    color:#3E7B8D;
    margin-bottom: 10px;
}
.VenueDesc p{
    font-size:1.150em;
    margin-bottom: 19px;
  font-size: 1.850em;

}
.VenueDesc p:last-child{
    margin-bottom: 0;;
}
#Venue .sectionTitle{
    margin-bottom:50px;
}
.galleryImg1{
    height:300px;
   
    overflow: hidden;
}
.galleryImg img{
    height:100%;
}
.marginbottom{
    margin-bottom:30px;
}
.galleryImg2{
height:600px;
}
.galleryImg{
    position: relative;
}
.galleryImg:hover::before{
    opacity: 1;
    transition: all .5s;;
}
.galleryImg:before{
    content: "";
    position: absolute;
    bottom:0;
    background-image: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 100%);
    z-index: 1;
    width:100%;
    height: 100%;
    opacity: 0;
    transition: all .5s;;
}
.galleryImg p{
    position: absolute;
    bottom:-30px;
    text-align: center;
    width:100%;
    z-index: 2;
    color:#DC5B81;
    font-size:1.125em;
    opacity: 0;
    transition: all .5s;;
}
.galleryImg:hover p{
    opacity: 1;
    bottom:0;
    transition: all .5s;;
}
#gallery{
    padding-bottom: 0;;
}

/*----------------- RSVP -----------------------*/
.FormBox{
    padding:50px 30px;
    background-color: white;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.16);
    margin-top:150px;
    position: relative;
}
#join{
    padding-bottom:250px;
}
.FormBox form{
    text-align: center;
}
.FormBox h5{
    color: #DC5B81;
    text-align: center;
}
.sendBtn{
    background-color: #DC5B81;
    height:60px;
    color:white;
    border:1px solid #DC5B81;
    width:120px;
    text-align: center;
    margin:auto;
    margin-top:40px;
}
.sendBtn:hover{
background-color: white;
color:#DC5B81;
}
.FormBox .form-group{
    width:47%;
    margin-right:20px;
    display: inline-block;
    margin-top:30px;
    margin-bottom: 0;;
}
.FormBox .form-group.noMargin{
    margin-right:0;
}
.FormBox .form-control{
    border: 1px solid rgba(153, 153, 153, 1);
    height:60px;
    border-radius: 0;;
}
.FormBox .form-control::placeholder{
    color:rgba(184, 184, 184, 1);
    font-size: 17px;
}
.formFlower{
    position: absolute;
    left:0;
    width:100%;
    top:-134px;
}
.formFlower.formFlower2{
    position: absolute;
    left:0;
    width:100%;
    top:auto;
    bottom:-134px;
}
/*-----------------Footer ------------*/
.footerText h4{

}
 